Project1/.vs
Project1/Project1/output.bin
Project1/Debug
Project1/Project1/Debug
Project1/Project1/x64
Project1/Project1/1.txt
.vscode/settings.json
Project1/Project1/test.bin

Project1/x64/Debug

Project1/Project1/build/*
